html, body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(4, 140, 140);
}

.nav-item {
    padding: 25px 0;
}

.nav-item a:hover {
    color: rgb(126, 126, 126);
    background-color: rgb(3, 188, 188);
    transition: all 0.3s ease;
}

.nav-item a {
    padding: 25px 15px;
    color: white;
    text-decoration: none;
}

.current-page a {
    background-color: rgb(2, 176, 176);
}
