html, body {
    margin: 0;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

div {
    display: flex;
    height: 100%;
    background: linear-gradient(to bottom, rgb(245, 241, 195), rgb(171, 143, 119));
}

form {
    margin: auto;
    padding: 10px 40px;
    text-align: center;

    border: solid 1px white;
    border-radius: 15px;
    box-shadow: 0 0 25px black;

    background-color: rgba(200, 200, 200, 0.3);
}

label, input {
    display: block;
}

input {
    width: 95%;
    margin: 5px 0 20px;
    text-align: center;
    font-size: 18px;
    border-radius: 8px;
}

button {
    margin: 30px 0 10px;
    height: 30px;
    width: 100%;
    font-size: 18px;

    outline: none;
    border: none;
    border-radius: 8px;

    box-shadow: 0 0 10px black;
    background: linear-gradient(to right, rgb(5, 231, 231), rgb(255, 0, 208));

    transition: all 1s ease;
}

button:hover {
    box-shadow: 0 0 25px white;
}

a {
    font-weight: 700;
    color: rgb(4, 188, 188);
}

form.captcha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

div.captcha {
    background: transparent;
}

button.captcha, #captcha-display {
    margin: 0 auto 20px;
    height: 50px;
}

button.captcha {
    width: max-content;
    margin-left: 10px;
    background: #4684ff;
}

#captcha-display {
    font-size: 22px;
}
